h3 {
  text-align: center;
  padding: 8px;
  margin-top: 3px;
  color: aqua;
}

.products {
  width: 80%;
  margin: 20px auto;
}

form.search {
  display: flex;
  justify-content: center;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 12px 20px;

  input {
    margin-left: auto;
    padding: 12px 16px;
    border-radius: 5px;
    outline: none;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }

    &.search {
      color: black;
      min-width: 300px;
      &[type="submit"] {
        min-width: 100px;
        margin-left: 10px;
        background-color: blue;
        color: white;
      }
    }
    &.insert {
      color: white;
      background-color: #4caf4c;
    }
  }
}

form.product {
  feildset {
    min-width: 780px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    legend {
      font-size: 1.3rem;
      text-align: center;
      font-weight: 500;
      color: skyblue;
      padding: 0 30px;
    }
    div {
      width: 95%;
      display: flex;
      justify-content: center;
      padding: 6px;
      label,
      input {
        padding: 10px 16px;
        margin: 0 5px;
      }
      label {
        flex: 1;
        text-align: right;
        color: skyblue;
        font-size: 16px;
        font-weight: 500;
        white-space: nowrap;
      }
      input {
        flex: 3;
        border: 1px solid #ccc;
        &:hover {
          background-color: #777;
        }
        &:focus {
          border: 1px solid #ccc;
        }
      }
      &:btn_box {
        input {
          padding: 10px;
          border-radius: 10px;
          outline: none;
          border: none;
          &[value="저장"] {
            background-color: #712cf1;
          }

          &[value="새로작성"] {
            background-color: orange;
          }
          &:hover {
            opacity: 0.7;
            cursor: pointer;
          }
        }
      }
    }
  }
  /* div.img_box {
    background-color: aqua;
  } */
}
/* 
form.product {
  width: 50%;
  margin: 0 auto;
  div {
    width: 80%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    input {
      margin: 0 3px;

      width: 60%;
      padding: 8px;
      transition: 0.3s;
      &:hover {
        background-color: #eee;
      }
    }

    input::placeholder {
      color: purple;
      font-weight: 900;
    }

    button {
      width: 50%;
      padding: 8px 0;
      border: none;
      margin: 0 3px;
    }
    button.submit {
      background-color: greenyellow;
    }
    button.cancle {
      background-color: yellow;
    }
  }
}

.img_box {
  background-color: #eee;
} */
