extends ../layout


block content
    link(rel='stylesheet', href='/css/input.css')
    script(src="/js/input.js")
    h1.studentinput  학생정보입력
 
    form.input(method="POST") 
        input(placeholder="학번을 입력하세요")
        input(placeholder="이름을 입력하세요")
        input(placeholder="학과를 입력하세요")
        button 전송