h3 {
  text-align: center;
  padding: 8px;
  margin-top: 3px;
  color: aqua;
}

.products {
  width: 80%;
  margin: 20px auto;
}

legend {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  color: skyblue;
  padding: 0 30px;
}
form.product {
  /* feildset { */
  min-width: 780px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  div {
    width: 95%;
    display: flex;
    justify-content: center;
    padding: 6px;
    label,
    input {
      padding: 10px 16px;
      margin: 0 5px;
    }
    label {
      flex: 1;
      text-align: right;
      color: skyblue;
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
    }
    input {
      flex: 3;
      border: 1px solid #ccc;
      &:hover {
        background-color: #eee;
      }
      &:focus {
        border: 1px solid #ccc;
      }
    }
    &:btn_box {
      input {
        padding: 10px;
        border-radius: 10px;
        outline: none;
        border: none;
        &[value="저장"] {
          background-color: #712cf1;
        }

        &[value="새로작성"] {
          background-color: orange;
        }
        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
  }

  &:focus-within {
    border: 1px solid blue;
    background-color: #f2f2f2;
    position: relative;
  }
  input#ing_focus {
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
/*목표:이미지 박스를 클릭하면 포커스가 지정되고 포커스가 지정된 것을 보여주고 싶다.
1. 디브 박스는 포커스를 지정할 수 없다.
포커스를 지정할 수 있는 태그는 인풋, 버튼, 등 몇몇으로 한정된다.
div 내부에 input tag를 하나 추가하고 
오퍼시티를 0으로 하여 투명하게 만든다.
positiondmf absolute 로 설정하여 위치도 투명하게: 다른 태그를 간섭하지 않도록
3. js 를 이용하여 div box 를 클리갛면 input tag에 focus 를 실행한다.
div: focus- within  속성이 적용된다.
4. div box 가 포함하는 인풋 태그 등에 포커스가 설정되면 자신이 포커스 받은 것 처럼 반응하게 한다.
5.22년의 최신브라우저만 적용되낟.
*/

input#p_image {
  display: none;
}

img.img_add {
  transition: 0.3s;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}
